@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 240 10% 12%;
    --foreground: 0 0% 98%;
    --card: 240 10% 15%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 12%;
    --popover-foreground: 0 0% 98%;
    --primary: 60 56% 85%;
    --primary-foreground: 60 25% 10%;
    --secondary: 0 0% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 60 56% 85%;
    --accent-foreground: 60 25% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 60 56% 75%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    scroll-behavior: smooth;
  }
}
